body {
	font-size: 16px;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	margin: 0px 0px;
}

.dashboard {
	margin: 0 auto;
	/*background: #004756;*/
	background: #303030;
	width: 100%;
	height: 100%;
	white-space:nowrap;
	overflow-y: hidden;
	overflow-x: auto;
}

.title {
	background: #EC663C;
	width: 100%;
	height: 100%;
	overflow:auto;
}

.title-content1 {
	text-align: center;
	font-size: 64px;
	font-weight: 700;
	color:#000;
	/*margin-top: 200px;*/
}

.title-content2 {
	text-align: center;
	font-size: 100px;
	font-weight: 700;
	color:#000;
	/*margin-top: 200px;*/
}


.chart {
	background: #CE8AAF;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.chart-container {
	width: 100%;
	height: 100%;
	margin: 0 auto
}

.inliner {
	height: 100%;
	margin-left: -1em;
}

.inliner,.inliner + * {
	display: inline-block;
	vertical-align: middle;
}

.content {
	width: 100%;
	/*position: absolute;*/
	line-height: 100%;
}
